* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  height: 100vh;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #3949ab;
  background-color: #9fffe0;
}

h1 {
  font-size: 40px;
}
a {
  padding: 30px;
  margin: 20px;
  text-decoration: none;
  font-size: 30px;
  color: inherit;
  background-color: #2bbd7e;
  border: 1px solid #3949ab;
  border-radius: 10px;
  transition: all 0.1s linear;
}
a:hover {
  transform: scale(1.1);
  color: #5c6bc0;
  border-color: #5c6bc0;
  background-color: #69f0ae;
}
