* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  padding: 20px;
}

a {
  padding: 10px;
  text-decoration: none;
  color: #3949ab;
  background-color: #ffffff;
  border: 1px solid #3949ab;
  border-radius: 10px;
}
a:hover {
  text-decoration: underline;
  color: #2bbd7e;
  border-color: #2bbd7e;
}

section {
  text-align: center;
}

h1 {
  font-size: 40px;
}

p {
  padding: 20px;
  margin: 20px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 15px;
}
p.win,
p.green {
  background-color: green;
}
p.lost,
p.red {
  background-color: red;
}
